<!DOCTYPE html>
<html>
    <head>
        <style>
            #button {
                background-color: #2c90c6;
                border: 1px solid #2c90c6;
                border-radius: 15px;
                -moz-border-radius: 15px;
                -webkit-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                color: #fff;
                font-weight: bold;
                line-height: 32px;
                text-align: center;
                text-transform: uppercase;
                width: 100px;
                position: absolute;
                top: 10px;
                right: 50px;
            }
        </style>
        <h1>Home Page</h1>
    </head>
    
    <body>
        {{!-- <h2>{{cookie}}</h2> --}}
        <form action="/signout" method="POST">
            <button id="button" type="submit">Sign out</button>
        <form/>
       </div> 
    </body>
</html>