<!DOCTYPE html>
<html>
  <head>
    <title>Vue SSR with Express and HBS</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <!-- Vue component placeholder -->
    {{{ render }}}

    <script src="/bundle.js"></script> <!-- Bundle your Vue components -->
  </body>
</html>
